.container{
    display: flex;
   justify-content: center;
    background: rgb(59, 63, 71);
    max-width: 100%;
    max-height: 100%;
    color: rgb(240, 239, 238);
}

.inputs-form{
    display: grid;
}
